﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CustomController.ascx.cs" Inherits="NewWebForms.Contollers.CustomController" %>
<table>
    <tr><td>This is a custom Table</td></tr>
    <tr><td>This is defined only for this page</td></tr>
</table>