﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="GlobalController.ascx.cs" Inherits="NewWebForms.Contollers.GlobalController" %>
<table>
    <tr><td>This is a custom Table</td></tr>
    <tr><td>This is defined Globally</td></tr>
</table>