﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RegisterChallenge.aspx.cs" Inherits="NewWebForms.RegisterChallenge" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
        <asp:Label ID="Label1" runat="server" Text="Enter First Name"></asp:Label>
        <asp:TextBox ID="FirstnameBox" runat="server" Width="190px"></asp:TextBox><br />
        <asp:Label ID="Label2" runat="server" Text="Enter Last Name"></asp:Label>
        <asp:TextBox ID="LastNameBox" runat="server" Width="190px"></asp:TextBox><br />
        <asp:Label ID="Label3" runat="server" Text="Enter Adress"></asp:Label>
        <asp:TextBox ID="AddressBox" runat="server" Width="190px"></asp:TextBox><br />
        <asp:Label ID="Label4" runat="server" Text="Enter Gender"></asp:Label>
        <br />
        <asp:RadioButtonList ID="RadioButtonList1" runat="server">
            <asp:ListItem Selected="True">Male</asp:ListItem>
            <asp:ListItem Value="Female"></asp:ListItem>
        </asp:RadioButtonList>
        <asp:Button ID="Button1" runat="server" Text="Submit" OnClick="Button1_Click" />
    </form>
</body>
</html>
