@{
	ViewData["Title"]="Database Testing";
	ProductModel[] x=(ProductModel[])(ViewData["Products"]);
}
<h1>@ViewData["Title"]</h1>
		<table class="table table-striped table-bordered" id="example" style="width:100%">
			<thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead> 
@foreach (var row in x)
{
			<tr> 
				<td>@row.Id</td> 
				<td>@row.Name</td> 
				<td>@row.Description</td> 
			</tr> 
}
		</table>