@{
	ViewData["Title"]="Suggestion Box";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="onFormGet" method="POST">
    <label for="firstNameLabel">Your first name</label><br/>
    <input type="text" id="firstName" name="Name" placeholder="Enter your name" /><br/>
    <label for="firstName">Your Suggestion</label><br/>
    <input type="text" id="Suggestion" name="Desc" placeholder="Enter your description" /><br/>
    <input type="submit" />
</form>