@using NonFactors.Mvc.Grid;
@{
	ViewData["Title"]="Json Webgrid Testing";
	ProductModel[] x=(ProductModel[])(ViewData["Products"]);
}

<h1>@ViewData["Title"]</h1>

@(Html
    .Grid(x)
    .Build(columns =>
    {
        columns.Add(model => model.Id).Titled("Id");
        columns.Add(model => model.Name).Titled("First Name");
        columns.Add(model => model.Description).Titled("Last Name");
    })
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
)
	<script src="~/js/mvc-grid/mvc-grid.js"></script>
	<script>
           [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
               new MvcGrid(element);
           });
        </script>
<h2>Table Complete.</h2>
